
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="task">
        <p>
            <%= task.title %>
            <!-- Form to mark as completed -->
             <form 
                action="/mark-completed/<%= task._id %>" 
                method="POST" 
                style="display: inline;"
                onsubmit="return handleCompletion(event, '<%= task._id %>')">
                <button type="submit">
                    <% if (task.completed) { %> Unmark as Completed <% } else { %> Mark as Completed <% } %>
                </button>
            </form>
        </p>
    </div>


</body>
</html>

